*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --primary-color: rgb(58, 80, 220);
    --color-text:#fff;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: aliceblue;
}


header{
    background-color: var(--primary-color);
    color: var(--color-text);
    padding: 1em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
nav{
    display: flex;
    gap: 15px;
}
header nav a{
    color:var(--color-text);
    font-weight: bold;
    text-decoration: none;
}

.secao{
    max-width: 1024px;
    width: 100%;
    margin:0 auto;
    padding-bottom: 50px;
}

.descricao{
    display: grid;
    grid-template-columns: 40% 60%;
    
}
.descricao div img{
    width: 340px;
    height: 340px;
}
h2{
    color: var(--primary-color);
    padding: 1.7rem 0;
    border-bottom: 1px solid  var(--primary-color);
    /* padding: 10px 0; */
    
}

h3{
    color: var(--primary-color);
    padding-top: 10px 0 ;
}
p{
    padding: 1rem 0;

}

.descricao div img{
    padding: 2rem 0;
    
}

.produtos{
    /* border-top: 1px solid rgb(79, 63, 225); */
    max-width: 1024px;
    width: 100%;
    margin:0 auto;
    display: grid ;
    grid-template-columns: repeat(4, 33.3%) ;
    column-gap: 1%;
    row-gap: 5%;
    padding: 1em;
}

button{
    width: 100%;
    padding:8px;
    font-weight: bold;
    background-color:var(--primary-color);
    color: white;
    border: none;
    font-size: 1em;
    cursor: pointer;
    

}
.produtos div img{
    width: 100%;
}
button:hover{
    background-color: rgba(16, 45, 230, 0.956);
}


/* celular */

@media screen and (max-width:640px){


    h1{
        width: 40%;
    }

    header nav{
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        gap:5px;

    }

    .secao{
        max-width: 90%;
        display: block;
        
    }

    .produtos{
        display: block;
        margin: auto; 
        
        

    }
    

    button{
        margin-bottom: 3rem;

    }

}
/* tablet */
@media screen and (min-width:641px) and (max-width:1023px) {
    
    .descricao{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: .5em 2em;
        
    }
    .descricao div img{
        height:500px ;
        width: 500px;
    }
    
    h2{
        text-align: center;
        
        
    }
    p{
        padding: 1rem 3rem ;
    
    }
    .produtos{
        grid-template-columns: repeat(2,49%);

    }
}